= fields_for "consultation[conditions_attributes][]", condition do |condition_form|
  %tr
    %td.table_side_title 
      = condition.classification ? condition.classification.name : "None given"
      = condition_form.hidden_field :classification_id, #{condition.classification.id}
      = condition_form.hidden_field :category, #{condition.category}
    %td
      = condition_form.select :present, @options, :prompt => "Select one"
    %td
      = condition_form.date_select :onset_date, :index => condition.id || "", :order => [:day, :month, :year], :include_blank => :true
