= form_tag('search') do
  %fieldset.search 
    .field
      = label_tag :nhs_number, "NHS Number"
      %br/
      = text_field_tag :digit_1, nil, {:size => 1, :onkeyup => "checkChar(1, this.id, 'digit_2')"}
      = text_field_tag :digit_2, nil, {:size => 1, :onkeyup => "checkChar(1, this.id, 'digit_3')"}
      = text_field_tag :digit_3, nil, {:size => 1, :onkeyup => "checkChar(1, this.id, 'digit_4')"}
      \-
      = text_field_tag :digit_4, nil, {:size => 1, :onkeyup => "checkChar(1, this.id, 'digit_5')"}
      = text_field_tag :digit_5, nil, {:size => 1, :onkeyup => "checkChar(1, this.id, 'digit_6')"}
      = text_field_tag :digit_6, nil, {:size => 1, :onkeyup => "checkChar(1, this.id, 'digit_7')"}
      \- 
      = text_field_tag :digit_7, nil, {:size => 1, :onkeyup => "checkChar(1, this.id, 'digit_8')"}
      = text_field_tag :digit_8, nil, {:size => 1, :onkeyup => "checkChar(1, this.id, 'digit_9')"}
      = text_field_tag :digit_9, nil, {:size => 1, :onkeyup => "checkChar(1, this.id, 'digit_10')"}
      = text_field_tag :digit_10, nil, {:size => 1}
  %h2
    OR
    %br/
  %fieldset.search
    .field
      = label_tag :initials
      %br/
      = text_field_tag :initials
    .field
      = label_tag :sex
      %br/
      = select_tag :sex, options_for_select(@genders), {:include_blank => true}
    .field
      = label_tag :year_of_birth
      %br/
      = text_field_tag :year_of_birth
  .actions
    = submit_tag "Search Patients"
- if @empty_params
  #error_explanation Search parameters not complete. The patient search requires either a NHS number or a combination of exact initials, year of birth and sex.
- else
  - if @patients
    %fieldset.search
      - @patients.each do |this_patient|
        = render :partial => 'patient', :locals => {:patient => this_patient}
