= form_for(@hospital) do |f|
  - if @hospital.errors.any?
    #error_explanation
      %h2
        = pluralize(@hospital.errors.count, "error")
        prohibited this hospital from being saved:
      %ul
        - @hospital.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :number
    %br/
    = f.text_field :number
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :description
    %br/
    = f.text_area :description
  .actions
    = f.submit
