<h1>Listing therapies</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @therapies.each do |therapy| %>
  <tr>
    <td><%= therapy.name %></td>
    <td><%= link_to 'Show', therapy %></td>
    <td><%= link_to 'Edit', edit_therapy_path(therapy) %></td>
    <td><%= link_to 'Destroy', therapy, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Therapy', new_therapy_path %>
