%h1 Listing classifications
%table
  %tr
    %th Name
    %td
    %td
    %td
  - @classifications.each do |classification|
    %tr
      %td= classification.name
      %td= link_to 'Show', classification
      %td= link_to 'Edit', edit_classification_path(classification)
      %td= link_to 'Destroy', classification, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Classification', new_classification_path
